body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Luminari, fantasy, sans-serif;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.header{
    background-color: darkslateblue;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__list{
    width: 200px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.main{
    background-color: gray;
    flex-grow: 2;
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content{
    background-color: white;
    width: 200px;
    height: 300px;
    border: 1px ridge darkslategray;
    box-shadow: 10px 10px 5px darkslategray;
}

.content:hover{
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}

.footer{
    background-color: chocolate;
}